.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 10px 80px;
  background-color: #F1F3FF !important;
}

.navbar-section{
  display: flex;
  justify-content: flex-end;
}

.hero-container{
  padding-top:20px;
  background-color: #F1F3FF;
}

.hero-content-section{
  padding: 50px 60px 0px 80px;
}

.hero-content-section h1{
  font-weight: 600;
}

.hero-content-section p{
  font-weight: 500;
}

.hero-image-section{
  padding: 0 !important;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .hero-content-section{
    padding: 20px 20px 0 20px;
  }

  .hero-image-section{
    margin-top: 20px;
  }
  
  .image-car{
    width: 98vw;
    float: right;
  }
}

  .OurServiceSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  /* WhyUs */
  .card-title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color:black;
  }

  .why-us {
    font-weight: bold;
  }

  .whyUsData {
    .icon {
      width: 32px;
      height: 32px;
    }
  }

  .card-text {
    color: #000;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .layout {
    display: flex;
    width: 220px;
    flex-direction: column;
  }

  .h2 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .layout {
    width: 619px;
    height: 270px;
    flex-shrink: 0;
  }

    /* Testimoni-section */
  .testimoni-container{
    border-radius: 8px;
    background-color: #F1F3FF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  
  .testimoni-section-text-title {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .testimoni-section-text-description {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
 
  .testimoni-section-text-testi {
    color: #000;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    display: flex;
    width: 415px;
    flex-direction: column;
  }

  .testimoni-section-text-name {
    color: #000;
    font-size: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    display: flex;
    width: 415px;
    flex-direction: column;
  }

  .testimoni-men-image {
    border-radius: 80px;
    background:lightgray 50% / cover no-repeat;

    width: 80px;
    height: 80px;
    flex-shrink: 0;
  } 


  .div style {
    color: var(--neutral-01, #FFF);
    text-align: center;
    font-size: 36px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: 150px;
  }

  .Footer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.navbar-brand {
    background-color: #0d28a6; 
    width: 100px;
    height: 34px;
}

.container-footer {
  display: flex;
  width: 1141px;
  justify-content: space-between;
  align-items: flex-start;
}



  
    